<!-- Sidebar Menu -->
  <% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <%= render :partial => 'spree/shared/taxonomies' %>
    </div>
  <% end %>
<!-- END -->

<div class ='col-sm-12'>
  <!-- Jumbotron -->

      <div class="jumbotron">
        <h2>About Us</h2><br>
        <p style='font-size: 14px'>
          The combination of a high quality product range and first class service has been the recipe for success for Inside Aluminium for over 20 years.<br><br>

          We offer a large range of aluminium products in a unique choice of anodised colours and finishes.<br><br>

          Our products are likely to be found in the highest quality retail environments including department stores and utilised by a large number of the leading cosmetic brands.
          The availability of a vast range of colour finishes allows clients to have a strong brand image.<br><br>

          Although ideally suited to high end retail settings the versatility of the product range has resulted in use in varying environments and specification by leading designers and architects.<br><br>

          In addition to locations such as Harrods, Selfridges, Harvey Nichols and leading department stores, products are used by jewellery stores, many high street retailers and airport duty free areas.
          There is really no situation to which our products are not suited within the leisure, entertainment and hospitality industries including hotels, cinemas, casinos, night clubs, restaurants, exhibitions and even cruise liners.
          There would be many other applications within the commercial and domestic sectors.
        </p>

        <hr>

        <h2>Testimonials</h2><br>
        <p style='font-size: 14px; font-style: italic;'>
          "We have dealt with Inside Aluminium for 10 Years.
          The service has been excellent and the product is always delivered on time to a high standard.
          We would therefore have no hesitation in recommending the company to others."
          (Joanna Jarvis of Maxfield Jarvis)<br><br>

          "Here at Task Displays Ltd we have had the pleasure of working with Inside Aluminium over many years, the quality, product diversity and service has kept us coming back time after time.
          Inside aluminium have great solutions for protecting the edge of painted glass shown here on the Givenchy counter."
          (Paul Johnson of Task Displays)<br><br>

          "Your service has been second to none.
          I’m sure we will be doing more business in the future."
          (Matt Duffin - ID Ess Retail limited)<br><br>

          "The service and quality of materials supplied to us has been outstanding.
          Our clients expectations are extremely high and therefore we rely on Inside Aluminium to support us in delivering successful and prestigious projects.
          As with clients, Antone look to build relationships with suppliers as we would clients.
          Inside Aluminium are honest, reliable and proceed with a positive manner to even the most challenging of projects with pressured lead times."
          (Paul Barker - Operations Manager, Antone Displays Ltd)
        </p>
      </div>

  <!-- END -->
</div>
