<!-- Sidebar Menu -->
  <% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <%= render :partial => 'spree/shared/taxonomies' %>
    </div>
  <% end %>
<!-- END -->

<div class ='col-sm-12'>

  <!-- Jumbotron -->

    <div class="jumbotron">
      <h2>Get in Touch</h2><br>
      <p style='font-size: 14px'>
        Address:<br><br>
        Inside Aluminium<br>
        Sandhill Barn, <br>
        Sandhill Lane, <br>
        Washington <br>
        West Sussex<br>
        RH20 4TD<br><br>

        Tel: 01903 893992<br>
        Fax: 01903 893994 <br>
        info@insidealuminium.com<br>

          </p>
    </div>

  <!-- END -->
</div>
