<%# Not sure that all the comments regarding what the html elements are is necessary - the css classes should be descriptive. Here you have a comment %>
<%# indiciating that this is a sidebar menu and just below it the embedded ruby uses a display helper method showing content_for :sidebar. Considered best practice %>
<%# is not to comment code - the code should be readable enough not to require comments. If you have to comment code then it is not clear what it is doing and should find a way to refactor or rewrite. Similar with the Jumbotron comments on this page. %>
<!-- Sidebar Menu -->
  <% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <%= render :partial => 'spree/shared/taxonomies' %>
    </div>
  <% end %>
<!-- END -->

<div class ='col-sm-12'>

  <!-- Jumbotron -->

    <div class="jumbotron">
      <h2>Get in Touch</h2><br>
<%# extract in-line styles to css %>
      <p style='font-size: 14px'>
        Address:<br><br>
        Inside Aluminium<br>
        Sandhill Barn, <br>
        Sandhill Lane, <br>
        Washington <br>
        West Sussex<br>
        RH20 4TD<br><br>

        Tel: 01903 893992<br>
        Fax: 01903 893994 <br>
        info@insidealuminium.com<br>

          </p>
    </div>

  <!-- END -->
</div>
